.estructura{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "." "." "." "."; 
    gap: 0px 0px; 
}

.general-text{
    border-radius: 5px;
    border: 2px;
    border-color: solid black;
    margin-top: 60px;
    margin-left: 15px;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 136, 0);
}

.parrafo-carrito{
    font-size: 20px;
}

.tamano-img{
    width: 300px;
    margin: 15px;
}

.text{
    grid-area: 1;
    font-size: 25px;
    margin-left: 15px;
}